streamlit
pandas
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-google-genai
langchain-openai
sentence-transformers
pymupdf
chromadb
scikit-learn
numpy
google-generativeai